@font-face {
  font-family: t7andollar;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./t7andollar-700.woff2) format('woff2');
}
@font-face {
  font-family: t7andollar;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./t7andollar-500.woff2) format('woff2');
}
@font-face {
  font-family: t7andollar;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./t7andollar-400.woff2) format('woff2');
}
