.toolabr {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(243, 243, 243);
}

.toolabarGroup {
  display: flex;
  gap: 0.5rem;
}

.editorWrapper {
  border: 1px solid rgb(243, 243, 243);
  padding: 1rem 0.5rem;
  background: rgb(255, 255, 255);
}
